.main-container {
  width: 100%;
  height: 100%;
}

.title-container {
  text-align: center;
  font-size: 2rem;
}

.btn-capture-container {
  padding: 10px;
  text-align: right;
}

.btn-capture-container button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #131313;
  background-color: var(--primary);
  font-size: 1.5rem;
  font-family: var(--font-2);
}

.contents-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.contents-container .content {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 40% 1fr;
  background-color: var(--secondary);
  border-radius: 10px;
  border: 1px solid var(--primary);
  font-size: 2rem;
  overflow: hidden;
}

.contents-container .content .img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents-container .content .img img {
  width: 90%;
  height: 90%;
  border: 1px solid black;
  object-fit: cover;
}

.contents-container .content .text {
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    height: 100%;
  }

  .welcoming-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgb(35, 35, 35);
    color: white;
    animation: splash 2s 2s ease forwards;
  }

  @keyframes splash {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .welcoming-page h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0.3rem;
    opacity: 1;
    color: var(--primary);
    animation: wordSplash 2s ease forwards;
    font-family: var(--font-2);
  }

  @keyframes wordSplash {
    from {
      transform: translate(-50%, -50%) translateX(100px);
      opacity: 0;
    }
    to {
      transform: translate(-50%, -50%) translateX(0);
      opacity: 1;
    }
  }

  .title-container {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-container h1 {
    font-size: 4rem;
  }

  .title-container h2 {
    margin-top: 10px;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Quintessential";
    -webkit-text-stroke: 0.1px black;
    color: var(--primary);
  }

  .btn-capture-container {
    display: flex;
    justify-content: end;
    padding: 10px 20px;
  }

  .btn-capture-container button {
    width: 100%;
    border: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    background-color: var(--primary);
    color: #ffff;
    transition: 0.2s ease;
  }

  .btn-capture-container button:active {
    background-color: rgb(255, 255, 255);
    color: var(--primary);
  }

  .contents-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-x: hidden;
  }

  .contents-container .content {
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 1fr;
    background-color: var(--secondary);
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid var(--primary);
  }

  .contents-container .content .img {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: rotate(355deg);
  }

  .contents-container .content .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .contents-container .content .text {
    display: flex;
    flex-direction: column;
  }

  .contents-container .content .text h2 {
    font-size: 2rem;
    text-align: center;
  }

  .contents-container .content .text p {
    text-align: justify;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--font-2);
  }

  .camera-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: black;
    z-index: 999;
  }

  .camera-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mirror {
    transform: scaleX(-1);
  }

  .camera-container .camera-buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
  }

  .camera-container .camera-buttons button {
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
  }

  .camera-container .camera-buttons button:active {
    background-color: #fff;
    color: var(--primary);
  }
}
